.intro {
  width: 100%;
  text-align: left;
margin: 0 auto;
  padding:  0 20rem ;
  background: linear-gradient(#000, #00000000);

}

.head-hello-msg {
  font-size: 9rem;
}

.head-sub-title {
  font-size: 4.2rem;
}
