@import "../vars.scss";


@mixin input-bg{
    color: beige;
    background-color: rgba(0, 0, 0, 0.325);
    border: none;
}

@mixin input-font {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
}

.contact-title{
    opacity: 0;
}

.contact-card {
  margin: 10rem auto;
  width: 50rem;
  padding: 3rem 2rem;
  position: relative;

}

.contact-card__forms {
  @include centerFlex();
  gap: 1rem;
}

label {
  color: rgba(245, 245, 220, 0.668);
  width: 100%;
  font-size: 2.4rem;
  text-align: left;
}

input {
  width: 100%;
  @include input-font();
  @include input-bg()

}

textarea {
  @include input-font();
  @include input-bg();
  width: 100%;
  height: 15rem;
  resize: none;
}

.contact-submit {
@include btnStart();

position: absolute;
bottom: -3rem;
right: 2rem;
font-size: 2rem;
padding: 1rem;
color: rgba(245, 245, 220, 0.476);
transition: 1s;
&:hover {
  background-color: rgba(85, 85, 85, 0.49);
  color: rgba(245, 245, 220);
  border-radius: 30px;
}
}
